Repository rdo-infra/review.rdoproject.org-config: changes, and which Zuul jobs are due for each by the changed paths.
All: rdo-tox-molecule-rhel8, tripleo-build-containers-rhel-8-master, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001-master-vexxhost, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001-rocky-vexxhost, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001, tripleo-ci-reproducer-fedora-28-libvirt-standalone-dryrun, tripleo-ci-centos-7-ovb-3ctlr_1comp_1supp-featureset039, tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset021, tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020, tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020-queens, tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020-rocky

Added container login playbook
  playbooks/tripleo-rdo-base/container-login.yaml
  zuul.d/tripleo-rdo-base.yaml
Due: tripleo-build-containers-rhel-8-master, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

Update patch set 3
  2ee7aaf1329b979f981a78297e9c82247c65efdd
Due: tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

DNM: Test molecule testing of container-login
  playbooks/tripleo-ci-periodic-base/molecule/default/molecule.yml
  playbooks/tripleo-ci-periodic-base/molecule/default/playbook.yml
Due: rdo-tox-molecule-rhel8, tripleo-build-containers-rhel-8-master, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

DNM: Test molecule testing of container-login
  playbooks/tripleo-ci-periodic-base/molecule/default/molecule.yml
  playbooks/tripleo-ci-periodic-base/molecule/default/playbook.yml
  tox.ini
Due: rdo-tox-molecule-rhel8, tripleo-build-containers-rhel-8-master, tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

Adjust rdo-superusers members
  resources/rdo.yaml
Due: tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

Move rhel8 scenario 1/2 out of experimental
  zuul.d/tripleo.yaml
Due: tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042

Path conditions:
  rdo-tox-molecule-rhel8: any of: ^requirements.txt$, ^roles/tripleo-repos/.*, ^setup.*$, ^test-requirements.txt$, ^tox.ini$, .*molecule.*
  tripleo-build-containers-rhel-8-master: (any of: ^playbooks/.*$, ^(playbooks|roles)/tripleo-buildcontainers/.*$, ^roles/build-containers/.*$, ^roles/prepare-node/.*$, ^roles/common/.*$, ^(playbooks|roles)/tripleo-repos/.*$) or (any of: ^container-images/.*$, ^contrib/.*$)
  tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001-master-vexxhost: (any of: ^toci-quickstart/config/testenv/ovb-vexxhost.yml$, ^toci-quickstart/config/testenv/ovb.yml$) or (any of: ^run_vexxhost_job$)
  tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset042: (any of: ^extraconfig/services/ipsec.*$, config/general_config/featureset042.*) or (unless all of: ^.*\.md$, ^.*\.rst$, ^Puppetfile.*$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^requirements.txt$, ^setup.*$, ^spec/.*$, ^test-requirements.txt$, tox.ini)
  tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001-rocky-vexxhost: any of: ^run_vexxhost_job$
  tripleo-ci-centos-7-ovb-3ctlr_1comp-featureset001: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, .*molecule.*)
  tripleo-ci-reproducer-fedora-28-libvirt-standalone-dryrun: any of: ^roles/libvirt/.*$, ^library/.*$
  tripleo-ci-centos-7-ovb-3ctlr_1comp_1supp-featureset039: (any of: config/general_config/featureset039.*, ^roles/freeipa-setup/.*$, ^roles/tripleo-inventory/.*$, ^roles/libvirt/setup/supplemental/.*$, ^playbooks/baremetal-full-freeipa.*$, ^playbooks/baremetal-full-deploy.*$) or (any of: config/general_config/featureset039.*, ^roles/freeipa-setup/.*$, ^roles/tripleo-inventory/.*$, ^playbooks/baremetal-full-freeipa.*$, ^playbooks/baremetal-full-deploy.*$)
  tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset021: any of: config/general_config/featureset021.*
  tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020: any of: roles/validate-tempest/vars/tempest_skip_master.yml
  tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020-queens: any of: roles/validate-tempest/vars/tempest_skip_queens.yml
  tripleo-ci-centos-7-ovb-1ctlr_2comp-featureset020-rocky: any of: roles/validate-tempest/vars/tempest_skip_rocky.yml
